*{
margin:0px;
padding:0px;
}

body {
width : auto;
margin : relative;
padding : relative;
font : 75% "Trebuchet MS", verdana, arial, sans-serif;
color : #000;
background : #f2f2f2 url(img/bgd.png) center repeat;
}
#container {
width : relative;
margin-left : auto;
margin-right : auto;
margin-top : auto;
padding : 5px;
/*line-height: 1.7em;*/
color : #000;
background : #f2f2f2;
min-height:450px;
max-height:auto;
}
			/*TOP BANNER*/
#banner {
float : auto;
width : auto;
height : auto;
padding : 0;
margin : 0 0 1px 0;
}

#formulario {
align :center;
float : auto;
width : auto;
height : auto;
padding : 0;
margin : 0 0 0;
}
			/*TOP NAVIGATION*/
#navcontainer {
clear:both;
width : auto;
}

#active a:link, #active a:visited, #active a:hover {
background: #036;
color: #fff;
}
			/*CENTRE CONTENT*/
#content {
width: auto;
padding : 5px;
margin-left : relative;
margin-right : relative;
background : #f2f2f2 url(img/bgd.png) center repeat;;
color : #00000;
min-height:450px;
}

			/*FOOTER*/
#footer {
clear : both;
padding : 5px;
margin-top : 15px;
color : #bbd2e0;
background : #000099;
float : center;
}
#footer a:link, #footer a:visited {
background : inherit;
color : #eee;
text-decoration : none;
}
#footer a:hover {
border-bottom : 1px dashed #f2f2f5;
background : inherit;
color : #f2f2f5;
}
			/*TYPOGRAPHY*/
p {
margin : 15px;
}
h1 {
margin : 0 0 10px 10px;
font : normal 1.3em verdana, arial, tahoma, sans-serif;
letter-spacing: 3px;
color : #036;
background : inherit;
}
h2 {
padding-left : 5px;
font : bold 1em verdana, arial, tahoma, sans-serif;
color : #036;
background : inherit;
}
h3 {
padding-left : 5px;
font : bold 1em verdana, arial, tahoma, sans-serif;
color : #036;
background : inherit;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*LINKS*/
a {
text-decoration : none;
color : #f36207;
background : inherit;
}
a:hover {
color : #0d4953;
background : inherit;
}
			/*CLASSES*/
.news {
font-size : 1em;
background : inherit;
color : #000;
}
.orange {
background : inherit;
color : #f36207;
}
.clear {
clear : both;
}
