.cssmenu {
	border:1px solid #000099;
	background:#000099;
	}
.cssmenu > ul {
	padding:1px 0;
	margin:0px;
	list-style:none;
	width:relative;
	height:21px;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	font:normal 8pt verdana, arial, helvetica;
}
.cssmenu > ul li {
	margin:0;
	padding:0;
	display:block;
	float:left;
	position:relative;
	width:148px;
}
.cssmenu > ul li a:link, .cssmenu > ul li a:visited {
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#000099;
	color:#ffffff;
	width:148px;
	height:13px;
}
.cssmenu > ul li:hover a, .cssmenu > ul li a:hover, .cssmenu > ul li a:active {
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#0066FF;
	color:#ffffff;
	width:146px;
	height:13px;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
}
.cssmenu > ul li ul {
	margin:0;
	padding:1px 1px 0;
	list-style:none;
	display:none;
	background:#ffffff;
	width:146px;
	position:absolute;
	top:21px;
	left:-1px;
	border:1px solid #000099;
	border-top:none;
}
.cssmenu > ul li:hover ul {
	display:block;
}
.cssmenu > ul li ul li {
	width:146px;
	clear:left;
	width:146px;
}
.cssmenu > ul li ul li a:link, .cssmenu > ul li ul li a:visited {
	clear:left;
	background:#000099;
	padding:4px 0;
	width:146px;
	border:none;
	border-bottom:1px solid #ffffff;
	position:relative;
	z-index:1000;
}
.cssmenu > ul li ul li:hover a, .cssmenu > ul li ul li a:active, .cssmenu > ul li ul li a:hover {
	clear:left;
	background:#0066FF;
	padding:4px 0;
	width:146px;
	border:none;
	border-bottom:1px solid #ffffff;
	position:relative;
	z-index:1000;
}
.cssmenu > ul li ul li ul.navigation-3 {
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:145px;
	top:-2px;
	padding:1px 1px 0 1px;
	border:1px solid #000099;
	border-left:1px solid #000099;
	background:#ffffff;
	z-index:900;
}
.cssmenu > ul li ul li:hover ul.navigation-3 {
	display:block;
}
.cssmenu > ul li ul li ul.navigation-3 li a:link, .cssmenu > ul li ul li ul.navigation-3 li a:visited {
	background:#000099;
}
.cssmenu > ul li ul li ul.navigation-3 li:hover a, .cssmenu > ul li ul li ul.navigation-3 li a:hover, .cssmenu > ul li ul li ul.navigation-3 li a:active {
	background:#0066FF;
}
